* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
  box-sizing: border-box;
}
@font-face {
  font-family: BERNIERDistressed;
  src: url(./BERNIERDistressed-Regular.otf);
}
@font-face {
  font-family: BERNIERRegular;
  src: url(./BERNIERRegular-Regular.otf);
}
@font-face {
  font-family: BERNIERShade;
  src: url(./BERNIERShade-Regular.otf);
}
body {
  background-image: url(../images/BBQ-BG.jpg);
  font-family: BERNIERDistressed;
  outline: 0 !important;
  font-size: 18px;
  font-weight: 400;
  max-width: 100vw;
}
div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
div.topo {
  width: 100%;
}
div.topo img {
  max-width: 100%;
}
div.title-event {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1%;
}
div.title-event h2 {
  font-size: xxx-large;
  color: #cb382c;
}
div.title-event h3 {
  font-size: xxx-large;
  font-family: BERNIERRegular;
  color: #252525;
}
ul.listUsers {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
li.avatar {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
li.avatar button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: BERNIERDistressed;
  outline: 0 !important;
  font-size: 18px;
  font-weight: 400;
}
li.avatar img {
  max-width: 125px;
  border-radius: 50%;
  border: 1px solid #252525;
  background-color: #cb382c;
}
li.avatar img :hover {
  filter: none;
}
div.formConfirma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
div.formConfirma span {
  font-size: x-large;
}
div.formConfirma input {
  height: 50px;
  width: 350px;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #252525;
  border-radius: 8px;
  font-weight: bold;
  font-size: x-large;
  font-family: BERNIERRegular;
}
div.formConfirma button {
  height: 50px;
  width: 350px;
  padding: 5px 20px;
  border: 0px solid #252525;
  border-radius: 8px;
  font-weight: bold;
  font-size: x-large;
  font-family: BERNIERRegular;
  background-color: #252525;
  color: white;
  cursor: pointer;
  margin-top: 3px;
}
div.formConfirma button:hover {
  background-color: #cb382c;
  transition-delay: 10ms;
}
div.formConfirma button.backLeft {
  background: none;
  border: none;
  color: #000;
}
div.formConfirma button.backLeft img {
  width: 18px;
  margin-top: 15px;
  margin-right: 5px;
}
div.divConfirma {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA SCREEN */
@media (max-width: 576px) {
  body {
    font-size: 22pt;
  }
  div.title-event {
  }
  div.title-event h2 {
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 22pt;
  }
  div.title-event h3 {
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 22pt;
  }
  ul.listUsers {
    max-width: 100%;
  }
  li.avatar {
    margin: 0;
    max-width: 20%;
  }
  li.avatar img {
    max-width: 70%;
  }
  li.avatar button {
    font-size: 8pt;
  }
  h2 {
    font-size: 22pt;
  }
  h3 {
    font-size: 22pt;
  }
}

#canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}
